body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    margin: 3em;
}

div {
    color: #FFF;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.main-text {
    font-size: 4rem;
    line-height: 5rem;
}

.outer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
