body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    text-align: center;
}

div {
    color: #FFF;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#main-text {
    font-size: 6rem;
}

.outer {
    width:100%;
    display: flex;
    justify-content: center;
}
